*{
    margin: 0;
    padding: 0;
}

figure img {
    width: 250px;
    height: auto;
}

#logo img{
    width: 100px;
    border-radius: 25px;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("air.png");
    background-size: cover;
}

.navigointi{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.navigointi li{
    list-style: none;
}

.navigointi a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 1px 2px black;
}

.navlink:hover{
    color: lightskyblue;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}

h1 {
    border: 3px groove aquamarine;
    padding: 10px 35px;
    border-radius: 10px;
}

article {
    width: 70%;
    padding: 10px;
    align-items: center;
}

table {
    border: 2px double black;
    margin: 10px;
    border-radius: 20px;
}

tbody {
    margin: 5px;
    padding: 5px;
    display: block;
}

tr, td, th {
    border: 1px solid gray;
    width: 50%;
    border-collapse: collapse;
    padding: 10px;
    display: table-cell;
}


aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(rgb(48, 104, 129), rgb(82, 142, 159), rgb(48, 104, 129));
    color: white;
}

aside div {
    max-width: 100%;
}

aside h3, aside p {
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

footer{
    display: flex;
    background: linear-gradient(rgb(48, 104, 129), rgb(82, 142, 159));
    color: white;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
}

footer ul li {
    font-size: smaller;
    padding: 5px;
    margin: 0px 10px;
}

@media only screen and (min-width: 600px) {
    #page-container {
        display: flex; flex-wrap: wrap;
    }

    main {
        width: 80%;
    }
    aside {
        width: 20%; 
        background-color: rgb(167, 193, 245);
    }
}