*{
    margin: 0;
    padding: 0;
}

figure img {
    width: 600px;
    height: auto;
}

#logo img{
    width: 100px;
    border-radius: 25px;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.navigointi{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.navigointi li{
    list-style: none;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.navigointi a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 1px 2px black;
}

.navlink:hover{
    color: lightskyblue;
}

body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}

header {
    text-align: center;
}



h1 {
    color: white;
    text-shadow: 2px 1px 2px black;
    border: 5px groove darkgray;
    background-color: rgb(7, 199, 177);
    padding: 10px 35px;
    border-radius: 10px;
}

article {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    align-items: center;
}

.junaTiedot {
    display: none;
}


#bimg {
    background-image: url(VR_Paarautatieasema_2_Kuvaaja_Pekka_Keskinen.jpg);
    min-height: 750px;
}

#bimg2 {
    background-image: url(VR_Sm4_lahijuna_kuva_Janne_Mikkila.jpg);
    height: 600px;
    width: 100%;
    opacity: 0.8;
}

#bimg, #bimg2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.86);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.otsikkoTeksti {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.teksti {
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 25px;
}


footer{
    display: flex;
    color: white;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
}

footer ul li {
    font-size: smaller;
    padding: 5px;
    margin: 0px 10px;
}